@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    0% {
      left: 0%;
    }
    100% {
      left: 50%;
    }
  }
  
  @keyframes slideOut {
    0% {
      left: 50%;
    }
    100% {
      left: 0%;
    }
  }
  
  .slide-out-animation {
    animation: slideOut 0.5s ease-in-out;
    color: yellow;
    background-color: rgb(149, 199, 255);
  }
  
  
  .slide-in-animation {
    animation: slideIn 0.5s ease-in-out;
    color: white;
    background-color: black;
  }
  
